@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

/* Font variations */

h1, h1 {
  font-size : 90px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: black;
}

.h2, h2 {
  font-size : 55px;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: black;
}


.h3, h3 {
  font-size : 22px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.h4, h4{
  font-size : 18px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  color: black;
}


.main_title{
  font-size : 90px;
  font-family: 'Roboto', sans-serif;
  border-bottom: solid 10px #000000;
  font-weight: 900;
  color: black;

}

.lvl2_title {
  font-size : 70px;
  font-family: 'Roboto', sans-serif;
  border-bottom: solid 25px #000000;
  font-weight: 900;
  color: black;
}

.lvl3_title {
  font-size : 60px;
  font-weight: 900;
  font-family: 'Roboto', sans-serif;
  color: black;
}


.big_number {
   font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: 900;
  color: black;
}

.big_number_pos {
   font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: 900;
  color: #4c8567;
}

.big_number_neg {
   font-family: 'Roboto', sans-serif;
  font-size: 55px;
  font-weight: 900;
  color: #ff0000;
}

.uncertain{
  color: white;
  background-color: #c8e3fe;
  font-weight: 600;
  display: inline;
  padding: 1px 15px;
  background-clip: padding-box;
}


.lesscertain{
  color: white;
  background-color: #96c7fa;
  font-weight: 600;
  display: inline;
  padding: 1px 15px;
  background-clip: padding-box;
}

.morecertain {
  color: white;
  background-color: #64aff5;
  font-weight: 600;
  display: inline;
  padding: 1px 15px;
  background-clip: padding-box;
}


.almostcertain {
  color: white;
  background-color: #2491f5;
  font-weight: 600;
  display: inline;
  padding: 1px 15px;
  background-clip: padding-box;
}

.lvl4_title {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 300;
  color: black;
}

.footer {
  color: #A9A9A9;
}

/* Images */

.logoImg {
  width: 40%;
  height: auto;
}

.cert_keyImg{
  width: 90%;
  height: auto;
}

.headerImg {
  width: 100%;
  height: auto;
}

.stateImg {
  width: 80%;
  height:auto;

}

.institutionImg {
  width: 75%;
  height: auto;
}

.studentImg_1{
  width: 80%;
  height: auto;
}

.studentImg_2{
  width: 60%;
  height: auto;
}

/* Leaflet */


.leaflet-container {
  background: transparent;
}

.info {
    padding: 5px 5px;
    font: 14px/16px Roboto, sans-serif;
    background: white;
    background: rgba(255,255,255,0.2);
    box-shadow: 0 0 0 rgba(0,0,0,0);
    border-radius: 5px;
}

/* Tabs */

.tabbable > .nav > li > a {
  background-color: black;  
  color:white;
  border-radius: 0;
  margin: 40px;
  
}

.nav-tabs > li {
   width: 32%; /* setting width to a little less than 1/3rd to account for the three tabs for now */
    float:none;
    display:inline-block;
    zoom:1;
}

.nav-tabs {
    text-align:center;
     border-bottom: 0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #000;
    cursor: default;
    background-color: #fff;
    border: 1px solid black;
    /* border-bottom-color: transparent; */
}

/* Other css */


.btn-myClass {
    padding: 15px 15px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 2.5;
    border-radius: 1px;
    text-align: right;
    margin: 10px;
    background-color: black;
    color: white;
}

.btn-group-lg>.btn, .btn-lg {
    /*padding: 10px 16px;*/
   /* line-height: 3;*/
    border-radius: 1px;
}

.btn-myClass.active, .btn-myClass:active {
    background-image: none;
    background-color: white;
    color: black;
    border: 1px solid #000000;
}

.btn-myClass.hover, .btn-myClass:hover {
    background-image: none;
    background-color: white;
    color: black;
    border: 1px solid #000000;
}

.row_scroll {
  overflow-y:scroll; 
  max-height: 700px
}

.bttn-fill.bttn-danger {
    background: black;
    color: #fff;
}

.bttn-fill.bttn-danger a{
    color: white;
    text-decoration: none;
}

.bttn-material-flat.bttn-default {
    background: black;
    color: #ffffff;
    border-radius: 0;
    box-shadow: none;
}

.selectize-input {
    border: 1px solid #000000;
    padding: 6px 12px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 0;
}

 input[type="search"] {
       
        border: 1px solid #C0C0C0;
  }
  
  
